

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

#rec-list {
  margin-top: 30px;
}

#price-title {
  margin-bottom: 50px;
}
.exchange-name {
  margin-bottom: 20px;
  color: #3171e0;
}

.exchange-container {
  padding-top: 30px;
  width: 300px;
  margin: 0 auto;
}
#exchange-divider {
  margin-top: 50px;
  margin-bottom: 20px;
}


.rec-item {

}
